.menu-main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: c();
	color: c(#ffffff);
	padding: 4px 15px 8px;
	font-family: f(mono);
	font-size: 12px;
	line-height: 1.3;
	z-index: 2;

	&__container {
		display: flex;
		justify-content: space-between;
		max-width: 350px;
		width: auto;
	}

	&__link {
		position: relative;
		padding: 0 5px;
		&:first-of-type {
			left: -5px;
		}
		&:hover {
			color: #eec939;
		}
	}

	&__playing {
		position: relative;
		cursor: pointer;
		white-space: nowrap;
		&:hover {
			color: c(yellow);
		}

		&.is-playing {
			color: c(yellow);
		}

		&-container {
			position: relative;
			padding-right: 15px;
			transition: all 0.3s ease 1s;
			overflow-x: hidden;
			overflow-y: visible;
			&:hover {
				// .menu-main__playing {
				// 	transition: all 0.3s ease;
				// 	padding-right: 25px;
				// }
				
				//removido por ahora
				// .menu-main__playing-random {
					// 	transition: all 0.3s ease;
					// 	opacity: 1;
					// }
					
					.menu-main__playing-next-track {
						transition: all 0.3s ease;
						opacity: 1;
					}
				}
			}
		&-overflower {
			overflow-x: hidden;
			overflow-y: visible;
		}

		//removido por ahora
		// &-random {
		// 	cursor: pointer;
		// 	position: absolute;
		// 	top: 0;
		// 	right: 0;
		// 	opacity: 0;
		// 	transition: all 0.3s ease;
		// 	&:hover {
		// 		color: c(yellow);
		// 	}
		// }

		&-next-track {
			cursor: pointer;
			position: absolute;
			top: 1px;
			transform: translateY(0.5px);
			right: 0px;
			// opacity: 0;
			transition: all 0.3s ease;
			&:hover {
				color: c(yellow);
			}	
		}
	}
}