.music {
  &__year {
    font-size: 25px;
    // font-weight: bold; 
    font-family: f(mono);
    margin-bottom: 10px;
    &-container {
      margin-bottom: 50px;
    }
  }
  &__category {
    font-size: 16px;
    padding: 7px;
    font-family: f(mono);
    cursor: pointer;
    &.selected {
      background-color: c(base);
      color: c(yellow);
    }
    &:hover {
      opacity: 0.4;
      color: c(yellow);
      background-color: c(base);
      &.selected {
        opacity: 0.8;
      }
    }
    &-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 600px;
      width: 100%;
      margin: 0 auto 40px;
    }
  }
}
