doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(href=baseUrl+'/css/mazorca.css' rel='stylesheet' type='text/css')        
        link(href=baseUrl+"/images/favicon/apple-touch-icon-57x57.png" rel="apple-touch-icon-precomposed" sizes="57x57")
        link(href=baseUrl+"/images/favicon/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
        link(href=baseUrl+"/images/favicon/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
        link(href=baseUrl+"/images/favicon/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
        link(href=baseUrl+"/images/favicon/apple-touch-icon-60x60.png" rel="apple-touch-icon-precomposed" sizes="60x60")
        link(href=baseUrl+"/images/favicon/apple-touch-icon-120x120.png" rel="apple-touch-icon-precomposed" sizes="120x120")
        link(href=baseUrl+"/images/favicon/apple-touch-icon-76x76.png" rel="apple-touch-icon-precomposed" sizes="76x76")
        link(href=baseUrl+"/images/favicon/apple-touch-icon-152x152.png" rel="apple-touch-icon-precomposed" sizes="152x152")
        link(type="image/png" href=baseUrl+"/images/favicon/favicon-196x196.png" rel="icon" sizes="196x196")
        link(type="image/png" href=baseUrl+"/images/favicon/favicon-128x128.png" rel="icon" sizes="128x128")
        link(type="image/png" href=baseUrl+"/images/favicon/favicon-96x96.png" rel="icon" sizes="96x96")
        link(type="image/png" href=baseUrl+"/images/favicon/favicon-32x32.png" rel="icon" sizes="32x32")
        link(type="image/png" href=baseUrl+"/images/favicon/favicon-16x16.png" rel="icon" sizes="16x16")
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
       
        meta(name="application-name" content="Diego Villaseñor")
        meta(name="msapplication-TileColor" content="#FFFFFF")
        meta(name="msapplication-TileImage" content=baseUrl+"/images/favicon/mstile-144x144.png")
        meta(name="msapplication-square70x70logo" content=baseUrl+"/images/favicon/mstile-70x70.png")
        meta(name="msapplication-square150x150logo" content=baseUrl+"/images/favicon/mstile-150x150.png")
        meta(name="msapplication-wide310x150logo" content=baseUrl+"/images/favicon/mstile-310x150.png")
        meta(name="msapplication-square310x310logo" content=baseUrl+"/images/favicon/mstile-310x310.png")
       
        title="Diego Villaseñor " + openGraph.title
       
        meta(name="description" content=openGraph.description)

        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:site', content='@diegovideco')
        meta(name='twitter:creator', content='@diegovideco')
        meta(name='twitter:title',  content="Diego Villaseñor " + openGraph.title)
        meta(name='twitter:description', content=openGraph.description)
        meta(name='twitter:image', content=openGraph.image.url)

        meta(property="og:url" content=openGraph.url)
        meta(property="og:type" content="article")
        meta(property="og:title" content="Diego Villaseñor " + openGraph.title)
        meta(property="og:description" content=openGraph.description)
        meta(property="og:image" content=openGraph.image.url)
        if openGraph.image.width
            meta(property="og:image:width" content=openGraph.image.width)
        if openGraph.image.height
            meta(property="og:image:height" content=openGraph.image.height)
    body
      #app
      script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
      script(src='https://www.youtube.com/iframe_api')
      script(src=baseUrl+'/js/deps.js' type='text/javascript')
      script(src=baseUrl+'/js/app.js' type='text/javascript')

