@mixin basePage {
	padding-top: 60px;

	&__container {
		margin-bottom: 20px;
		flex-direction: column;
		&:hover {
			* {
				color: #444;
			}
		}
	}

	&__ttl {
		font-family: f(mono);
		font-size: 35px;
		text-align: center;
		margin-bottom: 30px;
	}

	&__sbttl {
		font-family: f(mono);
		font-weight: bold;
		width: auto;
		font-size: 18px;
	}

	&__p {
		font-family: f(sans);
		font-size: 16px;
		padding-left: 30px;
		width: 100%;
		padding-top: 1px;
	}

	&__category,
	&__date {
    padding: 10px 0 10px 30px;
		font-family: f(mono);
    font-size: 12px;
	}
	
	&__date {
		padding-left: 10px;
		font-weight: normal;
	}
}
